

  
  #footer{
    background-image: url('../img/backgroundTeam.png');
    background-repeat: no-repeat;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .iconsSocial{
      position: relative;
      display: flex;
      z-index: 2;      
  }
  .footDiv{
      position: relative;
      list-style: none;      
  }
  .icon{
      position: relative;
      width: 80px;
      height: 80px;
      display: inline-block;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-size: 2em;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(2px);
      transition: 0.5s;
      overflow: hidden;
  }
  .icon:hover{
    transform:translateY(-20px) ;
  }
  .icon::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg)translateX(150px);
    transition: 0.5s;
  }
  .icon:hover::before{
    transform: skewX(45deg)translateX(-150px);

  }
  .footerImag{
    width: 100px;
    height: 100px;
  }
  .textFooter{
    color: #fff;
    font-size: 10px;
    position: relative;
   
  }
  .copyright{
    justify-content: center;
      align-items: center;
      text-decoration: none;
  }
  .logoFooter{
    width: 100px;
    height: 100px;
    float: right;
    padding-left: 30%;
    
    
    
  }
