<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/styles-login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="../css/myLandingLogin.css" />
  <link rel="stylesheet" href="../css/navBarLogin.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <title>DarthCode</title>
</head>


<body>
  <header>
    <div class="containerheader">
      <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../views/main-page.html">DarthCode</a></li>
          <li><a href="../views/portfolio.html">portafolio</a></li>
          <li><a href="../views/main-page.html">servicios</a></li>
          <li><a href="../views/contact.html">Contacto</a></li>      
          <div id="marker"></div>
        </ul>
      </nav>
        <div class="form-login">
          <h5>Login</h5>
          <form action="">
            <input class="controls-login" type="email" required name="e-mail" value="" placeholder="E-mail">
            <input class="controls-login" type="password" required name="password" value="" placeholder="Password">
            <button class="button-login">Log In</button>
            <button class="button2-login">Sign In</button>
          </form>
          <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        </div>
        <div>
          <img class="img" src="../img/mujerlapiz.png" alt="">
        </div>
        <script src="./js/index.js"></script>
      
</body>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>-->
<!-- stats.js lib -->
<script src="../js/particleLogin.js"></script>
<script src="../js/navBarLogin.js"></script>
<script type="text/javascript" src="../js/vanilla-tiltLogin.js"></script>
</script>
</body>

</html>