<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/myLandingMainPage.css">
    <link rel="stylesheet" href="../css/navBarLoginMainPage.css">
    <link rel="stylesheet" href="../css/main-page.css">
    <link rel="stylesheet" href="../css/team.css">
</head>
<body>
    <header>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../views/main-page.html">DarthCode</a></li>
                    <li><a href="../views/portfolio.html">portafolio</a></li>
                    <li><a href="../views/main-page.html">servicios</a></li>
                    <li><a href="../views/contact.html">Contacto</a></li>      
                    <div id="marker"></div>

                </ul>
            
    </header>
    <section class = "about-services">
        
        <div class="about-section">
            <div class="inner-containerAbout">
                <h1>DarthCode</h1>
                <p class="textAbout">
                    Somos un grupo de profesionales que busca generar beneficios a nuestros clientes por medio de soluciones digitales.
                </p>
            </div>
        </div>
        <div class="Container">
            <div class="table">
                <h2 class="textServices">Desarrollo Web</h2>
                <h3></h3>
                <p>Una plataforma completamente segura, robusta y a la medida para ti.</p>
                <a href=""class = "button">Conoce Mas</a><br>
                <div class="imgServices">
                    <img src="../img/Desarrolloweb.png" alt="Desarrollador">
                </div>
            </div>
            <div class="table">
                <h2 class="textServices">Posicionamiento SEO</h2>
                <h3></h3>
                <p>Ocupa los primeros puestos en Google y mas buscadores con nosotros !</p>
                <a href=""class = "button">Conoce Mas</a><br>
                <div class="imgServices">
                    <img src="../img/SEO.png" alt="PosicionamientoSEO">
                </div>
            </div>
            <div class="table">
                <h2 class="textServices">Consultoria Digital</h2>
                <h3></h3>
                <p>Estamos para apoyarte objetivamente en cualquier decision que pueda ser tomada por intuicion. </p>
                <a href=""class = "button">Conoce Mas</a><br>
                <div class="imgServices">
                <img src="../img/Digital.png" alt="Consultor">
                </div>
            </div>
        </div>
    </section>
    <section class="Team" >
        <div class="ourTeam">
        <h1 class="textOurTeam">Nuestro equipo</h1>
        <div class="containerTeam">
        <div class="cardT">
        <div class="contentCards">
            <h3>01</h3>
            <img src="../img/darthcodeNeonVerde.png" alt="darthCodeNeon" class="logoCard">
            <h4>Erick Gonzalez</h4>
            <p>
            lider
            industry.
            </p>
        </div>
        </div>
    </div>
    <div class="containerTeam">
        <div class="cardT">
        <div class="contentCards">
            <h3>02</h3>
            <img src="../img/darthcodeNeonVerde.png" alt="darthCodeNeon" class="logoCard">
            <h4>Alejandro Gaviria</h4>
            <p>
            Scrum
            </p>
        </div>
        </div>
    </div>
    <div class="containerTeam">
        <div class="cardT">
        <div class="contentCards">
            <h3>03</h3>
            <img src="../img/darthcodeNeonVerde.png" alt="darthCodeNeon" class="logoCard">
            <h4>Laura Quimbaya</h4>
            <p>
                developer Team
            </p>
        </div>
        </div>
    </div>
    <div class="containerTeam">
        <div class="cardT">
        <div class="contentCards">
            <h3>04</h3>
            <img src="../img/darthcodeNeonVerde.png" alt="darthCodeNeon" class="logoCard">
            <h4>Michael Manrique</h4>
            <p>
                developer team
            </p>
        </div>
        </div>
    </div>
    <div class="containerTeam">
        <div class="cardT">
        <div class="contentCards">
            <h3>05</h3>
            <img src="../img/darthcodeNeonVerde.png" alt="darthCodeNeon" class="logoCard">
            <h4>Camilo Chaparro</h4>
            <p>
                developer Team
            </p>
        </div>
        </div>
    </div>
    </div>       
</section>
<script src="../js/navBarMainPage.js"></script>
<script src="../js/particleLoginMainPage.js"></script>
<script type="text/javascript" src="../js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".cardT"), 
        {
		    max: 25,
	        speed: 400,
            glare: true,
            "max-glare": 1
        });
    </script>
</body>
</html>