<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/portfolio.css">
    <title>Evidences</title>
</head>
<body>
    <section id="portfolio">
        <div class="containerPort">
            <div class="cardPort">
                <div class="imgBxPort">
                    <img src="../img/PortCard.JPG" alt="Tarjeta Juegos" width="250px" height="400px">
                </div>
                <div class="contentPort">
                    <div class="contentBoxPort">
                        <h3>Tarjeta Videojuego <br> <span>DISEÑO UI</span></h3>
                    </div>
                    <ul class="sci">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="containerPort">
        <div class="cardPort">
            <div class="imgBxPort">
                <img src="../img/PortBitcoin.JPG" alt="Tarjeta Wallet" width="250px" height="400px">
            </div>
            <div class="contentPort">
                <div class="contentBoxPort">
                    <h3>Wallet Cripto <br> <span>DISEÑO UI</span></h3>
                </div>
                <ul class="sci">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="containerPort">
        <div class="cardPort">
            <div class="imgBxPort">
                <img src="../img/PortClima.JPG" alt="Tarjeta Clima" width="250px" height="400px">
            </div>
            <div class="contentPort">
                <div class="contentBoxPort">
                    <h3>App Clima <br> <span>DISEÑO</span></h3>
                </div>
                <ul class="sci">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="containerPort">
        <div class="cardPort">
            <div class="imgBxPort">
                <img src="../img/PortNFT.JPG" alt="Tarjeta NFT" width="250px" height="400px">
            </div>
            <div class="contentPort">
                <div class="contentBoxPort">
                    <h3>App NFT <br> <span>DISEÑO</span></h3>
                </div>
                <ul class="sci">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="containerPort">
        <div class="cardPort">
            <div class="imgBxPort">
                <img src="../img/PortCar.JPG" alt="Tarjeta Carro" width="250px" height="400px">
            </div>
            <div class="contentPort">
                <div class="contentBoxPort">
                    <h3>Tarjeta Carro <br> <span>DISEÑO UI</span></h3>
                </div>
                <ul class="sci">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>